<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Add tag</title>
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css"/>
</head>
<body>
<h1 style="text-align: center">Add tag for notes</h1>
<main class="container">
    <a href="/" role="button">Home</a>
    <a href="/notes" role="button">Notes</a>
    <form method="POST" action="/add_tag/">
        <div style="padding: 10px">
            <label>Enter the tag name:
                <input type="text" name="name" required/>
            </label>
        </div>
        <div class="grid">
            <div class="col-6">
                <button type="submit" class="btn btn-primary">Save</button>
            </div>
            <div class="col-6">
                <button type="reset" class="btn btn-secondary">Reset</button>
            </div>
        </div>
    </form>
</main>
</body>
</html>