<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>My ContactBook</title>
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css"/>
</head>
<body>
<h1 style="text-align: center">ContactBook</h1>
<main class="container">
    <a href="/" role="button">Home</a>
    <a href="/add_contact" role="button">Add contact</a>
    {% if messages %}
    <ul>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <table>
        <thead>
        <tr>
            <th>First name</th>
            <th>Last name</th>
            <th>Phone</th>
            <th>Email</th>
            <th>Birthday</th>
            <th>Address</th>
            <th>Created</th>
        </tr>
        </thead>
        <tbody>
        {% for contact in contacts %}
        <tr>
            <td>{{ contact.first_name }}</td>
            <td>{{ contact.last_name }}</td>
            <td>{{ contact.phone }}</td>
            <td>{{ contact.email }}</td>
            <td>{{ contact.birthday }}</td>
            <td>{{ contact.address }}</td>
            <td>{{ contact.created }}</td>
            <td>
                <a href="/edit_contact/{{contact.id}}" role="button">Edit</a>
            </td>
            <td>
                <a href="/delete_contact/{{contact.id}}" role="button">Delete</a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</main>
</body>
</html>