<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <title>Personal Assistant Flask</title>
        <link rel="icon" href="static/favicon.ico" type="image/x-icon">
        <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css"/>
    </head>
    <body>
        <h1>Hello! This is your Personal Assistant!</h1>
        <h2>What can I do for you?</h2>
        <main class="container">
            <ul>
                <li><a href="/contacts/" role="button">ContactBook</a></li>
                <li><a href="/notes/" role="button">Notes</a></li>
            </ul>
        </main>
    </body>
</html>